@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Montserrat:ital,wght@0,600;1,200&family=Noto+Sans+Mono:wght@600&family=Poppins:ital,wght@0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* Global text */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85)
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

#line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4vw 0.5vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

#line .g_p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#line .g_p a {
    text-decoration: none;
    font-size: 15px;
    align-items: center;

}

#line .g_p img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}



#line h6 {
    margin-left: 10px;
    cursor: pointer;
}

#line h6:hover {
    color: #fdc93b;
}

#line ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#line ul li {
    list-style: none;
    margin-left: 30px;
}

#line img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/* Navigation */

nav {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

nav img {
    width: 100px;
    height: 100px;
    cursor: pointer;

}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}


nav .navigation ul li a:hover {
    color: #fdc93b;

}


/* Home*/

#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(images/);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;

}

#home h2 {
    font-size: 2.2rem;
    color: #fff;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    font-size: 0.9rem;
    color: #fff;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;

}

#home a.blue {
    color: #fff;
    background-color: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background-color: #fff;
}

#home a.yellow {
    color: #fff;
    background-color: #fdc93b;
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color: rgb(21, 21, 100);
    background-color: #fff;
}


/* features */

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;

}



#features .fea-box {
    background: #f9f9ff;
    text-align: start;
}

#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80)
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    margin: 10px 0;
    padding: 13px 0 7px 0;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
    margin: 10px 0;
}

/* courses */

#course {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#course .courses {
    text-align: start;
    background: #f9f9ff;
    height: 100%;
    position: relative;

}

#course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;

}


#courses .courses .details {
    padding: 15px 25px 0 15px;

}

#course .courses .details i {
    color: #fdc93b;
    font-size: 0.9rem;
}

#course .courses .details .cost {
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 100px;

}


/* registration */

#registration {
    padding: 6vw 8vw 6vw 8vw;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;


}



/* #registration .form1,
.form2 {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 45%;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form1 input,
.form2 input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
    display: flex;

}

#registration .form1 .btn a.yellow {
    color: #fff;
    background-color: #fdc93b;
    transition: 0.3s ease;
} */


/* banner */

/* Style the banner section */
.banner {
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.banner .container {
    position: relative;
}

.banner h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 40px;
}

/* Style the "Register Now" button */
.banner .site-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.banner .site-btn:hover {
    background-color: #0056b3;
}





/* experts */

#experts {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#experts .expert-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#experts .expert-box .profile {
    background: #fafaff;
    padding: 30px 10px;

}

.pro-links i {
    margin-top: 10px;
}

.pro-links i {
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}

.pro-links i:hover {
    background-color: rgb(21, 21, 100);
    color: #fff;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
}

#experts .profile img{
    width: 150px;
    height: 150px;
    border-radius: 40%;

}




/* footer */

footer {
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 40px;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;

}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
}

footer li :hover {
    color: rgb(241, 240, 245);
}


footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright .pro-links i {
    margin-top: 10px;
}

footer .copyright .pro-links i {
    background-color: #5f7185;
    color: #fff;
}

footer .copyright .pro-links i:hover {
    background-color: #fdc93b;
    color: #2c2c22;
}



/* */

